- @tags.each do |tag|
  = link_to notes_path(tag: tag) do
    .flex.flex-row.items-center.gap-2.w-full.p-2.text-white.rounded-md{class: "#{@tag == tag ? 'bg-primary-400' : 'hover:bg-primary-400'}"}
      %i.text-white.w-4{'data-feather': "hash"}
      = tag[1..-1]