.mx-auto.w-full{:class => "md:w-2/3"}
  %h1.font-bold.text-4xl Editing note
  = render "form", note: @note
  = link_to "Show this note", @note, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
  = link_to "Back to notes", notes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
