#note.col-span-2.bg-neutral-50.px-10.pt-10.pb-2.h-screen{'data-controller': 'note'}
  .absolute.right-10.top-5.text-lime-500.text-xs.font-medium.flex.flex-row.items-center.gap-2.justify-end
    .rounded-full.bg-lime-500.w-2.h-2
    Changes saved
  = form_for @note, html: {class: 'h-full', 'data-note-target': 'form'} do |form|
    = form.text_area :content, data: {'action': 'note#saveNote'}, class: 'h-full outline-0 w-full focus:ring-0 outline-none border-0 bg-neutral-50', placeholder: 'Write something new here...'