#note.col-span-2.bg-neutral-50.px-7.pt-7.pb-2.h-screen{'data-controller': 'note'}
  = form_for @note, html: {class: 'h-full', 'data-note-target': 'form'} do |form|
    = form.text_area :content, data: {'action': 'note#saveNote'}, class: 'resize-none h-full outline-0 w-full focus:ring-0 outline-none border-0 bg-neutral-50', placeholder: 'Write something new here...'