-# .mx-auto.w-full.flex{:class => "md:w-2/3"}
-#   .mx-auto
-#     - if notice.present?
-#       %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
-#     = render @note
-#     = link_to 'Edit this note', edit_note_path(@note), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
-#     .inline-block.ml-2
-#       = button_to 'Destroy this note', note_path(@note), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium"
-#     = link_to 'Back to notes', notes_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"

#note.col-span-2.bg-neutral-50.pt-10.px-10.pb-2{'data-controller': 'note'}
  = form_for @note, html: {class: 'h-full', 'data-note-target': 'form'} do |form|
    = form.text_area :content, data: {'action': 'note#saveNote', 'note-id': @note.id}, class: 'h-full outline-0 w-full focus:ring-0 outline-none border-0 bg-neutral-50', placeholder: 'Write a new note here...'